<!--The content below is only a placeholder and can be replaced.-->
<main>
<div class="container">
  <h4 class="page-header">AIG Developer Roman Stepanov presents: </h4>
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" (change)="citySelected($event)">
        <option value="">--Please Select City--</option>
        <option  *ngFor="let city of cities" value="{{city.cityCode}}">{{city.cityName}}</option>
      </select>
    </div>

    <div class="col-sm-3" *ngIf="streets.length">
      <select class="form-control"  >
        <option *ngFor="let street of streets" value="{{street.streetCode}}" >{{street.streetName}}</option>
      </select>
    </div>
  </div>
  <br />
</div>
</main>
